{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    <nav>
        <h1>memephonic</h1>
    </nav>
    <h2>Select a file to upload</h2>
    <form method="POST" enctype="multipart/form-data">
        <div class="input">
            <input type="file" name="file">
        </div>
        <div class="input">
            <input type="submit" value="Create Meme">
        </div>
    </form>
</body>
{% endblock %}